<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email-mkt Sindcelma - Reprovação do Acordo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" bgcolor="#F5F5F5" cellpadding="10" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" cellpadding="0" cellspacing="0" width="600">
          <tr>
           <td align="center" style="text-align: center;">
            <a style="border:none; text-decoration: none;" href="https://www.sindcelma.com.br/" target="_blank" rel="noopener noreferrer">
              <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/logo_no_bg.png?v=1" alt="">
              </a>
            </td>
          </tr>
          <tr>
            <td align="center" style="text-align: center;">
             <p style="text-align: center;">Boa tarde [nome]! Você está recebendo este e-mail porque é um funcionário da Suzano S/A.<br>
              Se não quiser receber outros e-mails como este, <a style="border:none;" target="_blank" href="http://sindcelma.servicos.ws/cancelar-inscricao/[hash]/[email]">clique aqui</a>!</p>
            </td>
           </tr>
         </table>
      </td>
    </tr>
    <tr>
     <td>
      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600">
        
        <tr>
         <td style="padding: 20px; font-size: 20px;">
          <b style="font-size: 25px;">Boa tarde [nome]</b>,
          <br><br>
            Como todos já tem conhecimento, desde o dia 28 de julho, protocolamos nossa pauta de reivindicações, com as propostas para as cláusulas do acordo coletivo 2022/2023, aprovadas em Assembleia da Categoria, algo inédito na Unidade Maranhão.<br><br>
            Em seguida, aguardamos a contraproposta da SUZANO S/A , que atendesse nossas necessidades e expectativas; após exaustivas rodadas de negociações, chegou-se a um conjunto de propostas, as quais serão submetidas a Assembleia soberana, para esclarecimentos, e em seguida procedermos a votação pela aprovação ou não, sempre acatando  a vontade dos(as) trabalhadores(as).<br><br>
            Confiram o elenco de propostas da reunião desta <b>quinta-feira, dia 01/09/2022</b><br><br>
            <b>Reajuste salarial: 10,12% (retroativo a agosto 2022)</b><br>
            • Abono salarial: R$ 2.202,00<br>
            • Cesta Basica: R$ 355,00<br>
            • Auxílio creche: R$ 410,00<br>
            • Auxílio filho Excepcional/Especial: R$ 925,00<br>
            • Piso Salarial: R$ 1290,00<br>
            • Garantia ao Empregado no Período Pré-Aposentadoria: aos empregados que comprovadamente estiverem a um máximo de 12 meses da aquisição do direito de aposentadoria (conf. Clausula a ser inserida no ACT).<br>
            • Manutenção das demais clausulas <br><br>
            Fiquem atentos para a convocação do SINDCELMA, sobre o dia e horário da Assembléia, sigam-nos em nossas redes sociais e mantenham-se informados<br><br>
            <b>
            Juntos Somos muito Mais Fortes!<br>
            Só e bom para o Sindcelma, se for bom para os trabalhadores e trabalhadoras!
            </b>
         </td>
        </tr>
        
        <tr>
          <td style="text-align: center; font-size: 25px;">
           <p>Anthony Dantas<br>
            <b style="color:#C91D00; font-size: 18px;">Presidente do SINDCELMA</b></p>
          </td>
         </tr>
       </table>
     </td>
    </tr>
    <tr>
      <td>
        <table align="center" cellpadding="0" cellspacing="0" width="600">
          <tr>
           <td align="center" style="text-align: center;">
            <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/logo_no_bg.png?v=1" alt="">
           </td>
          </tr>
          <tr>
            <td align="center" style="text-align: center;">
              <table align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" style="text-align: center;">
                    <a style="border:none; text-decoration: none;" href="https://www.facebook.com/sindcelmacelulosepapel" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-face.png">
                    </a>
                  </td>
                  <td align="center" style="text-align: center;">
                    <a style="border:none; text-decoration: none;" href="https://www.instagram.com/sindcelmacelulosepapel/" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-insta.png">
                    </a>
                  </td>
                  <td align="center" style="text-align: center;">
                    <a style="border:none; text-decoration: none;" href="https://api.whatsapp.com/send?phone=5599984358419" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-whatsapp.png">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
           </tr>
           <tr>
            <td style="text-align: center; font-size: 30px;">
              <a style="border:none; text-decoration: none; color:#C91D00;" href="https://www.sindcelma.com.br/" target="_blank" rel="noopener noreferrer">
                sindcelma.com.br
              </a>
            </td>
           </tr>
           <tr>
            <td align="center" style="text-align: center;">
              <b>Sindicato dos Trabalhadores nas Indústrias de Celulose e Papel do Sul do Maranhão</b>
            </td>
           </tr>
          <tr>
            <td align="center" style="text-align: center;">
              Endereço: Rua Mirador, n° 09 - sala 13 - Nova Imperatriz - CEP 65907227<br>
              ( Entre Ceará e Floriano Peixoto) - Sede Provisória<br>
              CNPJ: 20.664.524/0001-94 - Telefone:  (99) 98435-8419
            </td>
           </tr>
           <tr>
            <td align="center" style="text-align: center; padding-bottom: 10px;">
             Este é um e-mail personalizado para [email]<br>
             Se não quiser receber outros e-mails como este, <a style="border:none;" target="_blank" href="http://sindcelma.servicos.ws/cancelar-inscricao/[hash]/[email]">clique aqui</a>!
            </td>
           </tr>
         </table>
      </td>
    </tr>
   </table>
</body>
</html>
