<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email-mkt Sindcelma - Padrão</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" bgcolor="#F5F5F5" cellpadding="10" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" cellpadding="0" cellspacing="0" width="600">
          <tr>
           <td align="center" style="text-align: center;">
            
            <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/logo.png" alt="">
           </td>
          </tr>
          <tr>
            <td align="center" style="text-align: center;">
             <p style="text-align: center;">Oi, [nome]! Você está recebendo este e-mail porque é um funcionário da Suzano S/A.<br>
              Se não quiser receber outros e-mails como este, <a style="border:none;" target="_blank" href="http://sindcelma.servicos.ws/cancelar-inscricao/[hash]/[email]">clique aqui</a>!</p>
            </td>
           </tr>
         </table>
      </td>
    </tr>
    <tr>
     <td>
      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600">
        <tr>
         <td>
          <img src="http://sindcelma.servicos.ws/images/mail/diretoria-sindcelma.jpg" >
         </td>
        </tr>
        <tr>
         <td style="padding: 20px; font-size: 20px;">
          
          <b style="font-size: 25px;">[nome]</b>,
          <br><br>
          Este ano, pela primeira vez, estaremos de fato e de direito representando a nossa categoria. Luta difícil, mas a vitória chegou!
          <br><br>
          No ultimo dia 28 de julho, protocolamos a nossa pauta construída através das sugestões depositadas na URNA SINDCELMA, e na Assembleia Geral Extraordinária realizada dia 11 de julho do corrente ano, momento único e que jamais tinha acontecido nesta unidade. 
          <br><br>
          Estamos construindo história no movimento sindical nestesetor, aqui na região Sul do Maranhão. Recebemos apoio de vários sindicatos de todo país e, estamos unidos para garantir nossos direitos, e conquistar mais benefícios.
          <br><br>
          Em breve estaremos reunindo com os representantes da empresa para negociar as demandas ora apresentada por nós trabalhadores.
          <br><br>
          Pedimos que sigam as nossas redes socias com link abaixo, para ficarem antenados com nossas ações.
          <br><br>
          Participem das Assembleias, opinem, tragam sugestões para melhoria da nossa entidade.
          <br><br>
          Lembrem-se, Sindicato é dos trabalhadores e trabalhadoras!<br>Juntos Somos muito mais fortes!
          
         </td>
        </tr>
        <tr>
         <td>
          <a style="border:none;" href="https://www.sindcelma.com.br/2022/08/informe-setorial-resultados-da-suzano-2.html" target="_blank" rel="noopener noreferrer">
          <img src="http://sindcelma.servicos.ws/images/mail/ultima_noticia.jpg">
          </a>
         </td>
        </tr>
       </table>
     </td>
    </tr>
    <tr>
      <td>
        <table align="center" cellpadding="0" cellspacing="0" width="600">
          <tr>
           <td align="center" style="text-align: center;">
            <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/logo.png" alt="">
           </td>
          </tr>
          <tr>
            <td align="center" style="text-align: center;">
              <table align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" style="text-align: center;">
                    <a style="border:none;" href="https://www.facebook.com/sindcelmacelulosepapel" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-face.png">
                    </a>
                  </td>
                  <td align="center" style="text-align: center;">
                    <a style="border:none;" href="https://www.instagram.com/sindcelmacelulosepapel/" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-insta.png">
                    </a>
                  </td>
                  <td align="center" style="text-align: center;">
                    <a style="border:none;" href="https://api.whatsapp.com/send?phone=5599984358419" target="_blank" rel="noopener noreferrer">
                      <img style="display: block; margin-left: auto; margin-right: auto;" src="http://sindcelma.servicos.ws/images/ic-whatsapp.png">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
           </tr>
           <tr>
            <td align="center" style="text-align: center;">
              <b>Sindicato dos Trabalhadores nas Indústrias<br> de Celulose e Papel do Sul do Maranhão</b>
            </td>
           </tr>
          <tr>
            <td align="center" style="text-align: center;">
              Endereço: Rua Mirador, n° 09 - sala 13 - Nova Imperatriz - CEP 65907227<br>
              ( Entre Ceará e Floriano Peixoto) - Sede Provisória<br>
              CNPJ: 20.664.524/0001-94 - Telefone:  (99) 98435-8419
            </td>
           </tr>
           <tr>
            <td align="center" style="text-align: center; padding-bottom: 10px;">
             Este é um e-mail personalizado para [email]<br>
             Se não quiser receber outros e-mails como este, <a target="_blank" style="border:none;" href="http://sindcelma.servicos.ws/cancelar-inscricao/[hash]/[email]">clique aqui</a>!
            </td>
           </tr>
         </table>
      </td>
    </tr>
   </table>
</body>
</html>
